---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Vanilla Cafe',
	description: 'About Us Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Our Story</h1>
			<p>
				Meet Bo and Ceicei, two people with different tastes and backgrounds.
        </p>
        <p>
        With our fusion of flavors inspired by our diverse backgrounds, we invite you to embark on a sensory adventure and indulge in our welcoming atmosphere and delectable offerings. Join us in celebrating a harmonious blend of cultures, flavors, and a shared love for coffee.</p>
      </p>		
      </div>
    <picture slot="image-container">
      <img
        src="/assets/images/320678455_699186648266180_7826653842162986922_n.jpg"
        alt="Delicious Pastries"
        id="vanilla-pastries"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <h4>Welcome to Vanilla Cafe, where the love for coffee brought us together on an unexpected journey. Let us share our unique backstory with you!</h4>
   
    <p>
      Welcome to Vanilla Cafe, where our love for coffee brought us together on an unexpected journey. Meet Bo and me, two individuals with different tastes and backgrounds. Bo used to despise coffee, but now he can't start his day without it. I've always cherished the experience of sipping coffee in cozy cafes. Now, our dream of owning a cafe has become a reality.</p>
    <p>
      Bo, hailing from Cambodia, grew up enjoying spicy, salty, and sour foods. I come from Hong Kong, where I delighted in treats like polo buns and Hong Kong-style French toast. Our diverse backgrounds inspire us to bring a fusion of flavors to our menu, providing a variety of options for our customers.</p>
    <p>
      At Vanilla Cafe, we invite you to embark on a sensory adventure. Whether you're a coffee enthusiast or still discovering the joy of a well-brewed cup, our welcoming atmosphere and delectable offerings cater to your desires.
    </p>
    <p>Join us at Vanilla Cafe and experience the harmonious blend of cultures, flavors, and a shared love for coffee. We can't wait to serve you!</p>
  </TextSection>
</Layout>
