---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Odyssey</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nisi
				recusandae? Quidem dignissimos nobis, dicta unde, aperiam voluptate
				autem iste reprehenderit, aliquam ducimus illo ea ipsum qui animi sequi.
				Numquam.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection>
  <h2>Food Menu</h2>

<p>
  <strong>All Day (7:00am - 2:00 pm)</strong>
  </p>
  <p>
  <strong>Homemade Toasted Muesli	</strong>$14.00	[ DFO ] [ VG ]
  </p>
  <p>
  crunchy toasted nuts, seeds, oats, coconut w/ seasonal fruits & Greek yoghurt
  </p>
  <p>
  <strong>Eggs on Toast 			</strong>$12.00	[ GFO ] [ VG ] 
  </p>
  <p>
  Poached | Scrambled | Sunny-side up  on your choice of toast
  </p>
  <p>
  5 Grain | Ciabatta | Sourdough | Gluten Free (extra $1.50) 
  </p>
  <p>
  <strong>Chilli Scrambled Eggs	</strong>$13.50      [ GFO ] [VG ]	
  </p>
  <p>
  feta cheese, green chilli, on ciabatta 
  </p>
  <p>
  <strong>Benedicts 		</strong>[ GF ] [ VG ]
  </p>
  <p>
  soft poached eggs, spinach, homemade hollandaise sauce and hash brown on sourdough/english muffin / homemade potato rosti (extra $2.00) 
  </p>
  <p>
  your choice of: 
  </p>
  <ul>
  
  <li>mushroom 				$23
  
  <li>bacon	 				$23
  
  <li>smoked salmon (cold/hot)		$25
  
  <li>ham 					$23
  </li>
  </ul>
  <p>
  <strong>Big Brekkie				</strong>$25.00	[ GFO ] [ VG ]<strong> </strong>
  </p>
  <p>
  poached eggs, crispy bacon, sausage, grilled tomato, grilled mushroom, homemade potato rosti on 5 grain toast
  </p>
  <p>
  <strong>French Toast			</strong>$21.00
  </p>
  <p>
  served with caramelized banana, streaky bacon, homemade berry compote, freeze dried raspberry, maple syrup & yoghurt
  </p>
  <p>
  <strong>Pancake 				</strong>$21.00
  </p>
  <p>
  served with seasonal fruits, homemade berry compote, freeze dried raspberry, maple syrup & whipped cream  
  </p>
  <p>
  <strong>Mince on Toast			</strong>$24.00
  </p>
  <p>
  beef mince, crispy bacon, poached eggs, topped with parmesan cheese on ciabatta 
  </p>
  <p>
  <strong>Creamy Mushroom </strong>		$24.00	[ GFO ]
  </p>
  <p>
  garlic and thyme mushroom with crispy bacon, spinach, poached eggs on ciabatta 
  </p>
  <p>
  <strong>Sweet Corn Fritter </strong>		$18.50    [ DFO ] [ VG ] 
  </p>
  <p>
  served with poached eggs,  green salad mix, homemade pickles, sourcream,  sweet chilli 
  </p>
  <p>
  <strong>Smashed Avo on sourdough	</strong>$18.00    [ GFO ] [ DFO ] [ VG ]
  </p>
  <p>
  with feta cheese, green salad, tomato, almond dukkah and balsamic glaze 
  </p>
  <p>
  <strong>Baked Beans on Bagel		</strong>$19.50
  </p>
  <p>
  crispy bacon, sausage, poached eggs and hollandaise sauce
  </p>
  <p>
  <strong>Bagel Stack </strong>
  </p>
  <ul>
  
  <li>cream cheese & jam		$7.50
  
  <li>tomato, avocado & cream cheese	$15.50
  
  <li>bacon, tomato, pesto, avocado & cream cheese	$20.00
  
  <li>pulled pork, gherkin, tomato, BBQ & tomato sauce   $20.00
  
  <li>salmon, tomato, lemon, capers, pesto, avocado 	$22.50
  <p>
  
      & cream cheese 				
  </p>
  </li>
  </ul>
  <p>
  <strong>Omelette				</strong>$20.00 [ GFO ] [ VGO ]
  </p>
  <p>
  3 eggs with tomato, baby spinach, parmesan cheese and grated cheese & served with 5 grain toast
  </p>
  <p>
  with your choice of:
  </p>
  <ul>
  
  <li>ham 
  
  <li>bacon
  
  <li>sundried tomato
  
  <li>mushroom 
  </li>
  </ul>
  <p>
  <strong>Porridge Bowl			</strong>$14.00
  </p>
  <p>
  berry compote, honey, seasonal fruits & your choice of milk
  </p>
  <p>
  <strong>Double Cheese Beef Burger	</strong>$24.00
  </p>
  <p>
  homemade beef patty, streaky bacon, tomato, caramelized onion relish, lettuce, swiss cheese, gherkin, aioli, BBQ, served with fries
  </p>
  <p>
  <strong>Pulled Pork Sandwich		</strong>$20.50
  </p>
  <p>
  homemade pulled pork, gherkin, lettuce, tomato, aioli & BBQ sauce on turkish bread served with fries
  </p>
  <p>
  <strong>Calamari & Chips 		</strong>$22.00
  </p>
  <p>
  homemade crispy calamari on french fries, side salad, served with tartare sauce & tomato sauce
  </p>
  <p>
  <strong>B.L.A.T / C.L.A.T			</strong>$20.50
  </p>
  <p>
  crispy bacon, lettuce, avocado, tomato on turkish bread, served with fries 
  </p>
  <p>
  Swap C.L.A.T (smoked chicken) extra $0.50 
  </p>
  <p>
  <strong>Power Salad Bowl		</strong>$20.00
  </p>
  <p>
  mixed lettuce, tomato, avocado, cucumber, capsicum, topped with crispy noodles & almond dukkah 
  </p>
  <ul>
  
  <li>chicken & bacon
  
  <li>smoked salmon (+$2.00) 
  </li>
  </ul>
  <p>
  <strong>Soup of the Day </strong>( please ask staff )	$12.00
  </p>
  <p>
  serve with ciabatta 
  </p>
  <p>
  <strong>Toasted Sandwiches with 2 fillings     </strong>$6.00
  </p>
  <p>
  grain bread | white bread | Gluten Free bread ( extra $1.50 ) 
  </p>
  <p>
  ham | bacon | cheese | tomato | egg | onion | pineapple | mushroom 
  </p>
  <p>
  ( extra filling $1.50 )
  </p>
  <p>
  <strong>Kids Menu </strong>
  </p>
  <p>
  <strong>Boiled Eggs & Soldiers		</strong>$7.50
  </p>
  <p>
  <strong>Chicken Nuggets & Chips 	</strong>$11.50
  </p>
  <p>
  <strong>Scrambled Eggs with Hash Brown	</strong>$9.50
  </p>
  <p>
  <strong>Scrambled Eggs on White Toast	</strong>$12.00
  </p>
  <p>
  with bacon
  </p>
  <p>
  <strong>Pancake			</strong>$12.00
  </p>
  <p>
  fresh fruit & maple syrup 
  </p>
  <p>
  <strong>Toasted Sandwich	</strong>$6.00
  </p>
  <p>
  ham, cheese & white bread
  </p>
  <p>
  <strong>Mini Brekkie with Scrambled Eggs	</strong>$16.50
  </p>
  <p>
  <strong>Add ons: </strong>
  </p>
  <p>
  ciabatta | 5 grain | sourdough	$2.00
  </p>
  <p>
  spinach | hash brown | avocado | sliced tomato	$4.00
  </p>
  <p>
  mushroom | eggs | sausages		$4.00
  </p>
  <p>
  bacon | chicken 	$5.00
  </p>
  <p>
  smoked salmon	$7.00 
  </p>
  <p>
  <strong>Sides </strong>
  </p>
  <p>
  fries 	$9.00
  </p>
  <p>
  kumara fries	$12.00
  </p>
  <p>
  wedges	$12.00
  </p>
  <ul>
  
  <li>cheese & bacon ( extra $2.00 )
  </li>
  </ul>
  <p>
  <strong>ALLERGENS</strong>
  </p>
  <p>
  <strong>GF = gluten free | GFO = gluten free option available</strong>
  </p>
  <p>
  <strong>VG = vegetarian | DF = dairy free | DFO = dairy free option </strong>
  </p>
  </TextSection>
</Layout>
