---
---

<p class="odyssey-logo">Vanilla Cafe</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: Vanilla;
		font-weight: bold;
    font-size: var(--font-size-xl);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
